
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
  color: #333;
}


.container {
  display: flex;
  min-height: 100vh;
}


.lado-esquerdo {
  flex: 1;
  background: #2D4C98;
  color: white;
  text-align: center;
  padding: 30px 20px 0 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.foto-escola {
  width: 90%;
  border-radius: 8px;
  margin-top: 10px;
}

.lado-esquerdo h2 {
  font-size: 22px;
  margin: 20px 0;
  font-weight: 600;
}

.hashtag {
  font-weight: bold;
  color: #fbc02d; 
  margin: 15px 0;
  font-size: 18px;
}

.alunos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.alunos img {
  width: 100%;
  height: auto;
  max-width: none; 
  object-fit: cover;
  margin: 0;
  padding: 0;
}


.lado-direito {
  flex: 1;
  background: #fff;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecalho-formulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-formulario h1 {
  font-size: 28px;
  font-weight: 600;
}

.cabecalho-formulario p {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}

.logo {
  width: 70px;
}

.formulario {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

input, select {
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #f5f5f5;
  font-size: 15px;
  outline: none;
  transition: all 0.3s;
}

input:focus, select:focus {
  border: 2px solid #19499d;
  background: #fff;
}


button {
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #19499d;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(25, 73, 157, 0.3);
}

button:hover {
  background: #12397a;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .lado-esquerdo, .lado-direito {
    width: 100%;
    padding: 20px;
    position: static;
  }

  .alunos {
    position: static;
    margin-top: 20px;
  }

  .alunos img {
    width: 100%;
    max-width: 100%;
  }

  .cabecalho-formulario {
    flex-direction: column;
    gap: 10px;
  }
}
